extends layout-user

block head
  title Awaiting opponent
  link(href="/assets/css/challenge.css", rel="stylesheet")

block content
  div#waiting-banner
    h1(style="text-align: center;") Waiting for a challenger! Meanwhile enjoy some Go wisdom.
    div.quote

  div#challenge-id(style="display: none;")
    =challengeId

block append specificJs
  script(type="text/javascript", src="/assets/js/challenge.js")
