extends layout-user

block head
  title Awaiting opponent
  link(href="/assets/css/challenge.css", rel="stylesheet")

block content
  div#current-screen

  div#waiting-banner-screen(style="display: none;")
    div#waiting-banner
      h1(style="text-align: center;") Waiting for a challenger! Meanwhile enjoy some Go wisdom.
      div.quote

  div#negotiation-screen(style="display: none;")
    h4 Challenge - {{challenge.name}} - {{challenge.size}}x{{challenge.size}}
    br
    form.form-horizontal
      div.control-group
        label.control-label(for="challenger") Selected challenger
        div.controls.
          &lt;select id="challenger" class="input" {{^iAmCreator}}disabled{{/iAmCreator}}&gt;
            {{#challenge.challengers}}
            &lt;option value="{{_id}}" {{#selected}}selected{{/selected}}&gt;
            {{name}}
            &lt;/option&gt;
            {{/challenge.challengers}}
          &lt;/select&gt;
      div.control-group
        label.control-label(for="handicap") Handicap
        div.controls
          | &lt;select id="handicap" class="input-small" {{^canModifyHandicap}}disabled{{/canModifyHandicap}}&gt;
          each val in [0, 2, 3, 4, 5, 6, 7, 8, 9]
            option(value="#{val}") #{val}
          | &lt;/select&gt;
    button.btn.btn-primary Accept challenge terms

  div#challenge(style="display: none;")
    =challengeAsJSON
  div#user(style="display: none;")
    =userAsJSON

block append specificJs
  script(type="text/javascript", src="/assets/js/challenge.js")
