extends layout

block navbarContents
  ul.pull-right.nav
    li
      a(href="/login") Login/sign-up with Google

block content
  h3 Welcome on the lmt.io Go server!
  p To begin, you need to <a href="/login">login with Google</a>.

