extends layout-user

block head
  title Games

block content
  h3 List of games
  div#list
  div#listTemplate(style="display: none;")
    |<b>Currently being played</b><ul>
    |{{#currentGames}} <a href="/web/game/{{_id}}"><li>{{name}} - {{size}}x{{size}}</li></a> {{/currentGames}}
    |{{^currentGames}} No current game {{/currentGames}}
    |</ul>
    |<b>Past games</b><ul>
    |{{#pastGames}} <a href="/web/game/{{_id}}"><li>{{name}} - {{size}}x{{size}}</li></a> {{/pastGames}}
    |{{^pastGames}} No current game {{/pastGames}}
    |</ul>
  div#listInitialData(style="display: none;")
    =games

block append specificJs
  script(type="text/javascript", src="/assets/js/games.js")


