extends layout-user

block head
  title Games

block content
  h3 List of games
  div#list
  div#listInitialData(style="display: none;")
    =games

block append specificJs
  script(type="text/javascript", src="/assets/js/games.js")


