extends layout

block navbarContents
  div#navbar(class="collapse nav-collapse")
    ul(class="nav")
      li
        a(href="#",id="create-game") Create game
      li
        a(href="/web/open-challenges") Open challenges
      li
        a(href="/web/games") Current games
      li
        a(href="/web/players") Players

    ul.pull-right.nav
      li
        a= username
      li
        a(href="/logout") (logout)

block append specificJs
  script(type="text/javascript", src="/assets/js/create-challenge.js")
  script(type="text/javascript", src="/socket.io/socket.io.js")
  |<script>var socket = io();</script>

// Create new game modal
block append footer
  div#create-game-modal.modal.hide.fade(role="dialog")
    div.modal-header
      button.close(data-dismiss="modal", aria-hidden="true") x
      h3 Create new game
    div.modal-body
      form.form-horizontal
        div.control-group
          label.control-label(for="input-name") Game name
          div.controls
            input#input-name(type="text", placeholder="e.g. For Louis")
            span.help-inline
        div.control-group
          label.control-label(for="input-size") Board size
          div.controls
            select#input-size.input-small
              option(value="9") 9x9
              option(value="13") 13x13
              option(selected, value="19") 19x19
    div.modal-footer
      button.btn.btn-primary Go!
