extends layout

block navbarContents
  div#navbar(class="collapse nav-collapse")
    ul(class="nav")
      li
        a(href="#",id="create-game") Create game
      li
        a(href="/web/open-challenges") Open challenges
      li
        a(href="/web/players") Players
      li
        a(href="/web/play") Play

    ul.pull-right.nav
      li
        a= username
      li
        a(href="/logout") (logout)

block append specificJs
  script(type="text/javascript", src="/assets/js/create-challenge.js")
  script(type="text/javascript", src="/socket.io/socket.io.js")
  |<script>var socket = io();</script>

// Create new game modal
block append footer
  div#create-game-modal.modal.hide.fade(role="dialog")
    div.modal-header
      button.close(data-dismiss="modal", aria-hidden="true") x
      h3 Create new game
    div.modal-body
      | Some text here
    div.modal-footer
      button.btn.btn-primary Go!
