doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
    link(href="/assets/css/layout.css", rel="stylesheet")
    link(href="/assets/css/bootstrap-responsive.min.css", rel="stylesheet")

    block head

  body
    div(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
      div(class="navbar-inner")
        div.container
          span.brand Go Online Server
          div#navbar(class="collapse nav-collapse")
            ul(class="nav")
              li
                a(href="/web/create") Create game
              li
                a(href="/logout") Logout

            ul(class="nav navbar-right")
              li
                a= username

    div.container
      block content

    script(type="text/javascript", src="/assets/js/jquery-2.1.4.min.js")
    script(type="text/javascript", src="/assets/js/bootstrap.min.js")
    block specificJs
