extends layout-user

block head
  title Open challenges

block content
  h3 List of open challenges
  div#list
  div#listTemplate(style="display: none;")
    |<b>Open challenges</b><ul>
    |{{#openChallenges}} <a href="/web/play/{{_id}}"><li>{{name}} - {{size}}x{{size}}</li></a> {{/openChallenges}}
    |{{^openChallenges}} No open challenge {{/openChallenges}}
    |</ul>
  div#listInitialData(style="display: none;")
    =openChallenges

block append specificJs
  script(type="text/javascript", src="/assets/js/open-challenges.js")

