extends layout-user

block head
  title Open challenges

block content
  h3 List of open challenges
  div#list
  div#listInitialData(style="display: none;")
    =openChallenges

block append specificJs
  script(type="text/javascript", src="/assets/js/moment.min.js")
  script(type="text/javascript", src="/assets/js/open-challenges.js")

