extends layout-user

block head
  title Play
  link(href="/assets/css/goban.css", rel="stylesheet")


block content
  div.row
    div.span7
      div#the-goban

    div.span5#hud
      div
        b.turn Turn: black
      div.move-number No move played yet
      ul
        li Black: <span class="captured-black">0</span> captured

        li White: <span class="captured-white">0</span> captured
      button.btn.back
        b &lt;
      button.btn.next
        b &gt;
      br
      br
      button.btn.pass Pass

block append specificJs
  script(type="text/javascript", src="/assets/js/goban.js")
  script(type="text/javascript", src="/assets/js/game.js")
  script(type="text/javascript", src="/assets/js/play.js")
