extends layout-user

block head
  title All players

block content
  h3 All players
  div#lists
  div#listTemplate(style="display: none;")
    |<b>Connected players</b><ul>
    |{{#connectedUsers}} <li><a href="/web/user/{{_id}}">{{name}}</a></li> {{/connectedUsers}}
    |</ul><b>Disconnected players</b><ul>
    |{{#disconnectedUsers}} <li><a href="/web/user/{{_id}}">{{name}}</a></li> {{/disconnectedUsers}} {{^disconnectedUsers}} No disconnected player {{/disconnectedUsers}}
    |</ul>
  div#connectedInitialData(style="display: none;")
    =connectedUsers
  div#disconnectedInitialData(style="display: none;")
    =disconnectedUsers


block append specificJs
  script(type="text/javascript", src="/assets/js/users.js")
